html {
    height: 100%;
}

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 500px;
    height: 500px;
}

.grid-box {
    user-select: none;
    padding: 0;
    margin: 0;
}

.grid-box:hover {
    background-color: black;
}