:root {
    --white-light: #fffcf2;
    --white-dark: #ccc5b9;
    --black-light: #403d39;
    --black-dark: #252422;
    --orange: #eb5e28;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #fffcf2;
    font-family: Roboto, Helvetica, sans-serif;
    justify-content: space-between;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 72px;
    color: #eb5e28;
}

#main {
    display: flex;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px;
}

.sizeControls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boxSize {
    font-size: 30px;
    margin-bottom: 16px;
    color: #eb5e28;
    font-weight: bold;
}

.button {
    width: 120px;
    height: 40px;
    padding: 8px;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #fffcf2;
    color: #eb5e28;
    cursor: pointer;
    transition: 0.1s;
    box-shadow: 2px 2px 7px 0.1px #ccc5b9;
}

.button:hover {
    transform: scale(1.1);
}

.button:active, .button.active {
    background-color: #ccc5b9;
}

.slider {
    -webkit-appearance: none;
    background: #fffcf2;
}

.slider::-webkit-slider-runnable-track {
    width: 200px;
    height: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0.3px #ccc5b9;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 25px;
    margin-top: -3px;
    background: var(--orange);
}

.slider::-webkit-slider-runnable-track:hover {
    transform: scale(1.05);
}

.slider::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}

#container {
    display: grid;
    box-shadow: #ccc5b9 5px 5px 20px;
    width: 500px;
    height: 500px;
}

.grid-box {
    user-select: none;
    padding: 0;
    margin: 0;
}

.grid-box:hover {
    transform: scale(1.2);
    background-color: #403d39;
}

#footer {
    color: #eb5e28;
}